html,
body {
  height: 100%;
}

body {
  background-color: white;
}

h1 {
  margin-bottom: 1em;
}

.action-icon {
  margin: 0 3px;
  cursor: pointer;
}

.bi-pencil-square {
  color: cornflowerblue;
}

.bi-arrow-clockwise {
  color: purple;
}

.bi-check-circle-fill {
  color: darkgreen;
}

.bi-minus-circle-fill {
  color: red;
}

#actions-bar {
  text-align: right;
  margin: 10px;
}

.codejar-linenumbers * {
  color: white !important;
}

.row-header {
  font-weight: bolder;
  text-align: left;
}

.badge {
  font-weight: normal;
}

.buttons button {
  margin-top: 10px;
  margin-left: 5px;
}

.buttons button:first-of-type {
  margin-left: 0;
}
