.action-icon {
  margin: 0 3px;
  cursor: pointer;
}

fa-icon[icon='edit'] {
  color: cornflowerblue;
}

fa-icon[icon='redo'] {
  color: purple;
}

#actions-bar{
  text-align: right;
  margin: 10px;
}

table{
  background-color: white;
  padding: 10px;
}
