html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
}

h1 {
  margin-bottom: 1em;
}

.action-icon {
  margin: 0 3px;
  cursor: pointer;
}

fa-icon[icon='edit'] {
  color: cornflowerblue;
}

fa-icon[icon='redo'] {
  color: purple;
}

#actions-bar {
  text-align: right;
  margin: 10px;
}

.codejar-linenumbers * {
  color: white !important;
}
