<h1>App tokens</h1>
<div id="actions-bar">
  <a class="btn btn-primary" [routerLink]="['/members/apptokens/add']">
    <i class="bi bi-plus-lg"></i>
    Add new app token</a>
</div>
<table class="table table-striped w-100 table-sm">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Domain</th>
    <th>Key</th>
    <th style="text-align: center;">Registrations</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let apptoken of apptokens">
    <td><span [tooltip]="'ID ' + apptoken.id" [tooltipPlacement]="'right'">{{apptoken.name}}</span></td>
    <td>{{apptoken.name}}</td>
    <td
      style="max-width:200px;clip: auto; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{apptoken.description}}</td>
    <td>{{apptoken.domain}}</td>
    <td>{{apptoken.key}}</td>
    <td style="text-align: center;">
      <i class="bi" [ngClass]="{
      'bi-dash-circle': !apptoken.registrations,
      'bi-check-circle': apptoken.registrations
      }" [ngStyle]="{
      color: (apptoken.registrations) ? 'darkgreen' : 'red'
    }"></i>
    </td>
    <td>
      <i class="bi bi-pencil-square action-icon" title="Edit app token" (click)="onAppTokenEdit(apptoken.id)"></i>
      <i class="bi bi-arrow-clockwise action-icon" *ngIf="!checkEqualAppToken(apptoken.key)" title="Refresh app token"
         (click)="onAppTokenRefresh(apptoken.id)"></i>
      <i class="bi bi-trash3-fill action-icon" *ngIf="!checkEqualAppToken(apptoken.key)" title="Remove app token"
         (click)="onAppTokenRemove(apptoken.id)"></i>
    </td>
  </tr>
  </tbody>
</table>
