<h1>Profile</h1>
<section>
  <h4>Personal information</h4>
  <table class="table table-sm table-striped">
    <tbody>
    <tr>
      <td>Username:</td>
      <td>{{appStorage.user?.username}}</td>
    </tr>
    <tr>
      <td>Associated roles:</td>
      <td><!-- TODO IMPLEMENT --></td>
    </tr>
    <tr>
      <td>E-mail:</td>
      <td>{{appStorage.user?.email}}</td>
    </tr>
    </tbody>
  </table>
</section>
<section>
  <h4>Change password</h4>
  <form (ngSubmit)="onChangeClick()">
    <ng-container *ngIf="appStorage.authType === 'local'; else changePasswordDisabled;">
      <div class="mb-3">
        <label for="old-password" class="form-label">Old password</label>
        <input type="password" [(ngModel)]="oldPassword" name="password" class="form-control"
               placeholder="Old password..." id="old-password">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">New password</label>
        <input type="password" [(ngModel)]="newPassword" name="password" class="form-control"
               placeholder="New password..." id="password">
      </div>
      <div class="mb-3">
        <label for="new-password-repeat" class="form-label">New password (repeat)</label>
        <input type="password" [(ngModel)]="newPasswordRepeat" name="password-repeat" class="form-control"
               placeholder="Repeat new password..." id="new-password-repeat">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!allSet">Submit</button>
    </ng-container>
    <ng-template #changePasswordDisabled>
      <p>
        You can't change your password because your are signed in with {{appStorage.authType}}
      </p>
    </ng-template>
  </form>
</section>
