/*
This stylesheet is for the entry point only! To change a stylesheet of an reference, go to its reference folder.
 */

body {
  font-family: Helvetica, Arial, serif;
  position: relative;
}

#main-inner {
  padding: 20px;
}
