body {
    font-family: Helvetica, Arial, serif;
    position: relative;
}

#main-inner {
    padding: 20px;
}

hr {
    margin-bottom: 40px;
}

textarea {
    font-size: 0.9em;
    resize: vertical;
    border: 1px solid gray;
    padding: 10px;
    width: 100%;
    min-height: 200px;
}

#navbar-sticky a.nav-link {
    font-size: 0.9em;
    padding: 6px 16px 6px 16px;
}

.badge.bg-secondary {
    color: white;
}

.card-header {
    padding: 0;
    position: relative;
}

.title {
    font-weight: 500;
    font-size: 1.2em;
    padding: .75rem 1.25rem;
    display: inline-block;
}

.card-header .info {
    padding: .75rem 1.25rem;
    display: inline-block !important;
    position: absolute;
    height: 100%;
    right: 0;
}

.card-header .badge.pill.bg-info {
    color: white;
}

.card-header .badge.pill {
    padding: 5px;
    font-size: 0.7em;
}
