<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_description" content="">
    <meta name="author" content="">

    <title>Shibboleth Confirmation</title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/assets/authenticators/shibboleth/style.css" rel="stylesheet" type="text/css">
    <script type="application/javascript">
      window.onload = function () {
        var inputUserName = document.getElementById("inputUserName");
        var inputEmail = document.getElementById("inputEmail");
        var submitButton = document.getElementById("submitButton");
        var checkDataPolicy = document.getElementById("checkDataPolicy");
        var checkTerms = document.getElementById("checkTerms");
        var jwtToken = "<%= locals.token %>";

        function message_broadcast(key, value) {
          value = typeof value === "object" ? JSON.stringify(value) : value;
          var cid = "<%= locals.cid %>";
          localStorage.setItem(key + "_" + cid, value);
        }

        function checkInputs() {
          if ((window.inputUserName === undefined || window.inputUserName.value?.trim() === "") || (window.inputEmail === undefined || window.inputEmail.value.trim() === "") || !window.checkDataPolicy.checked || !window.checkTerms.checked) {
            submitButton.setAttribute("disabled", "disabled");
          } else {
            submitButton.removeAttribute("disabled");
          }
        }

        if (jwtToken.trim() !== "") {
          message_broadcast("token", "<%= locals.token %>");
          window.close();
        }

        inputUserName.addEventListener("keyup", checkInputs);
        inputEmail.addEventListener("keyup", checkInputs);
        checkDataPolicy.addEventListener("change", checkInputs);
        checkTerms.addEventListener("change", checkInputs);
        checkInputs();
      };
    </script>
</head>
<body class="text-center">
<noscript>
    Please enable Javascript.
</noscript>
<% if(locals.windowURL.trim() === "" && locals.token.trim() === ""){ %>
    <form class="form-signin" id="signinForm" method="post">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;">Please register</h1>
        <p style="text-align: justify;">In order to use our services you need to create an account. The account is
            connected to your account
            authenticated by Shibboleth.</p>
        <div class="form-group mb-3 mt-3">
            <label for="inputUserName">User name</label>
            <input type="text" id="inputUserName" class="form-control" name="userName"
                   placeholder="Username"
                   required="required" autofocus="">
        </div>
        <div class="form-group mb-3">
            <label for="inputEmail">Email Address</label>
            <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address"
                   required="required"
                   autofocus="">
        </div>
        <div class="form-group" style="display: none;">
            <input type="hidden" name="shibToken" value="<%= locals.shibToken %>"/>
        </div>
        <div class="form-group mt-3">
            <input id="checkDataPolicy" type="checkbox" name="dataPolicyAccepted" value="yes" style="cursor: pointer;"/>
            <label for="checkDataPolicy" style="cursor: pointer;">I accept the <a href="" target="_blank">data
                    policy</a> <span
                        class="text-danger">*</span></label>
        </div>
        <div class="form-group mb-3">
            <input id="checkTerms" type="checkbox" name="termsAccepted" value="yes" style="cursor: pointer;"/>
            <label for="checkTerms" style="cursor: pointer;">I accept the <a href="" target="_blank">terms of
                    service</a> <span
                        class="text-danger">*</span></label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" id="submitButton" disabled="disabled" type="submit">Sign in
        </button>
    </form>
<% } else { %>
    <p style="width:100%; text-align: center;">You are authenticated. Please close this window.</p>
<% } %>
</body>
</html>
