<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_description" content="">
    <meta name="author" content="">

    <title>Shibboleth Confirmation</title>
    <!-- Bootstrap core CSS -->
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../assets/authenticators/shibboleth/style.css" rel="stylesheet" type="text/css">
    <script type="application/javascript">
      function message_broadcast(key, value) {
        value = typeof value === "object" ? JSON.stringify(value) : value;
        var cid = "<%= locals.cid %>";
        localStorage.setItem(key + "_" + cid, value);
      }

      function checkInputs(inputUserName, inputEmail, submitButton) {
        if ((inputUserName && inputUserName.value.trim() === "") || (inputEmail && inputEmail.value.trim() === "")) {
          submitButton.setAttribute("disabled", "disabled");
        } else {
          submitButton.removeAttribute("disabled");
        }
      }

      window.onload = function () {
        var inputUserName = document.getElementById("inputUserName");
        var inputEmail = document.getElementById("inputEmail");
        var submitButton = document.getElementById("submitButton");
        var jwtToken = "<%= locals.token %>";

        if (jwtToken.trim() !== "") {
          message_broadcast("token", "<%= locals.token %>");
          window.close();
        }

        if (inputUserName || inputEmail) {
          if (inputUserName) {
            inputUserName.addEventListener("keyup", checkInputs);
          }

          if (inputEmail) {
            inputEmail.addEventListener("keyup", checkInputs);
          }
          checkInputs(inputUserName, inputEmail, submitButton);
        }
      };
    </script>
</head>
<body class="text-center">
<noscript>
    Please enable Javascript.
</noscript>
<% if(locals.windowURL.trim() === "" && locals.token.trim() === ""){ %>
    <form class="form-signin" id="signinForm" method="post">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;">Please register</h1>
        <% if(!locals.userName || locals.userName.trim() === ""){ %>
            <div class="form-group">
                <label for="inputUserName">First Name and Last Name</label>
                <input type="text" id="inputUserName" class="form-control" name="userName"
                       placeholder="First & Last Name"
                       required="required" autofocus="">
            </div>
        <% } %>
        <% if(!locals.email || locals.email.trim() === ""){ %>
            <div class="form-group">
                <label for="inputEmail">Email Address</label>
                <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address"
                       required="required"
                       autofocus="">
            </div>
        <% } %>
        <div class="form-group" style="display: none;">
            <input type="hidden" name="shibToken" value="<%= locals.shibToken %>"/>
        </div>
        <button class="btn btn-lg btn-primary btn-block" id="submitButton" disabled="disabled" type="submit">Sign in
        </button>
    </form>
<% } else { %>
    <p style="width:100%; text-align: center;">You are authenticated. Please close this window.</p>
<% } %>
</body>
</html>
