body {
  font-family: Helvetica, Arial, serif;
  position: relative;
}

#main-inner{
  padding: 20px;
}

hr{
  margin-bottom:40px;
}

textarea{
  resize: vertical;
  border: 1px solid gray;
  padding: 10px;
  width:100%;
  min-height: 200px;
}