<main class="form-signin">
  <bs-alert *ngIf="appStorage.logoutMessage" type="danger">{{appStorage.logoutMessage}}</bs-alert>
  <form>
    <h1 class="h3 mb-3 fw-normal" style="text-align: center;">Please sign in</h1>

    <button class="w-100 btn btn-lg btn-secondary" (click)="onSubmit(AccountLoginMethod.shibboleth)">
      <fa-icon icon="university"></fa-icon>
      Sign in with Shibboleth
    </button>
  </form>
  <hr/>
  <div style="text-align: center;">
    or
  </div>
  <form>
    <label for="inputName" class="visually-hidden">Username</label>
    <input type="text" id="inputName" class="form-control" placeholder="Name" name="name" [(ngModel)]="user.name"
           required
           autofocus>

    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"
           [(ngModel)]="user.password"
           required>

    <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="onSubmit(AccountLoginMethod.local)">
      <fa-icon icon="house-user"></fa-icon>
      Sign in with credentials
    </button>
  </form>
</main>
