<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OCTRA API</title>
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="bootstrap/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="authenticators/shibboleth/style.css" rel="stylesheet" type="text/css">
    <script src="bootstrap/js/vendor/jquery.min.js"></script>
    <script type="text/javascript">
        var shibbolethUID = '<%= shibbolethUID %>';

        function checkForm() {
            var email = $("#email");
            var name = $("#name");
            console.log(`email validation: ` + email.prop("validationMessage"));
            console.log(`name validation: ` + name.prop("validationMessage"));

            if (email.val() !== "" && email.prop("validationMessage") === "" && name.val() !== "" && name.prop("validationMessage") === "") {
                $("#submit").removeAttr("disabled");
            } else {
                $("#submit").attr("disabled", "disabled");
            }
        }

        function readHashCheck(data) {
            const signin = $("#signin");
            if (data) {
                signin.html("<p style='text-align: center;margin-top:50px;'>Your authentication was successful. Please close this window and click on the 'Confirm authentication with Shibboleth' button.</p>");
                signin.css("display", "inherit");
                console.log(`send postmessage after authentication.`);
                window.postMessage({
                    type: "success",
                    message: "User authenticated"
                }, window.origin);
            } else {
                signin.css("display", "inherit");
                $("#email").on("keyup", checkForm);
                $("#name").on("keyup", checkForm);
                $("#submit").on("click", () => {
                    $.ajax({
                        url: 'v1/users/register',
                        type: 'post',
                        data: {
                            name: $("#name").val(),
                            email: $("#email").val(),
                            password: "123456"
                        },
                        headers: {
                            Authorization: 'Bearer <%= appToken %>',
                        },
                        dataType: 'json',
                        success: (data) => {
                            signin.css("display", "inherit");
                            signin.html("<p style='text-align: center;margin-top:50px;'>Your authentication was successful. Please close this window and click on the 'Confirm authentication with Shibboleth' button.</p>");
                            console.log(`send postmessage after registration.`);
                            window.postMessage({
                                type: "success",
                                message: "User authenticated"
                            }, window.origin);
                        }
                    });
                });
            }
        }

        $(document).ready(() => {
            if (shibbolethUID && shibbolethUID !== "") {
                $.ajax({
                    url: 'v1/users/hash?hash=' + shibbolethUID + '&loginmethod=shibboleth',
                    type: 'get',
                    headers: {
                        Authorization: 'Bearer <%= appToken %>',
                    },
                    dataType: 'json',
                    success: (response) => {
                        readHashCheck(response.data);
                    }
                });
            } else {
                const signin = $("#signin");
                signin.css("display", "inherit");
                signin.html("<p style='color:red;text-align: center;'>The authentication failed. Please close this window and try again.</p>")
            }
        });
    </script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body class="text-center">

<main class="form-signin">
    <div id="signin" style="display: none;margin-top:30px;">
        <p>
            Please enter a user name and e-mail address.
        </p>
        <div class="form-floating">
            <input type="text" class="form-control" id="name" placeholder="Enter a user name">
            <label for="name">User name</label>
        </div>

        <div class="form-floating">
            <input type="email" class="form-control" id="email" placeholder="Enter an e-mail address...">
            <label for="email">E-mail address</label>
        </div>

        <button style="margin-top:10px;" class="w-100 btn btn-lg btn-primary" id="submit">Sign in</button>
    </div>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="bootstrap/js/vendor/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

