<ocb-page-header [title]="'Accounts'">
</ocb-page-header>
<table class="table table-striped table-sm" *ngIf="users.length > 0">
  <thead>
  <tr>
    <th>
      username
    </th>
    <th>
      email
    </th>
    <th>
      training
    </th>
    <th>
      roles
    </th>
    <th>
      description
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td><span [tooltip]="'ID ' + user.id" [tooltipPlacement]="'right'">{{user.username}}</span></td>
    <td>{{user.email}}</td>
    <td>{{user.training}}</td>
    <td>{{getGlobalRole(user)}}</td>
    <td>{{user.comment}}</td>
  </tr>
  </tbody>
</table>
